<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="zayv2_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.55107906769218E-05 -5.71406076580672E-05 0.0246966723243182"
        rpy="0 0 0" />
      <mass
        value="0.180654008012069" />
      <inertia
        ixx="8.5658780354871E-05"
        ixy="-1.14872280594255E-08"
        ixz="-7.63381189904199E-09"
        iyy="8.54580242848368E-05"
        iyz="1.00316382695735E-08"
        izz="0.00014642222515205" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/base_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0024462 0.014977 0.010882"
        rpy="0 0 0" />
      <mass
        value="0.052975" />
      <inertia
        ixx="1.518E-05"
        ixy="-4.4616E-07"
        ixz="-3.4719E-06"
        iyy="2.3714E-05"
        iyz="-8.5943E-08"
        izz="2.0904E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.0693"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.013198 -0.12253 0.026705"
        rpy="0 0 0" />
      <mass
        value="0.31472" />
      <inertia
        ixx="0.00089498"
        ixy="6.8225E-05"
        ixz="1.2234E-06"
        iyy="0.00011501"
        iyz="5.7001E-07"
        izz="0.0009626" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.02 -0.0363 0.035355"
      rpy="-1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.054994 -0.023315 0.03709"
        rpy="0 0 0" />
      <mass
        value="0.1318" />
      <inertia
        ixx="5.2023E-05"
        ixy="3.1486E-06"
        ixz="-2.326E-09"
        iyy="3.4989E-05"
        iyz="-4.8641E-09"
        izz="4.1587E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link3.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link3.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.035 -0.25 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="7.3993E-05 0.0068305 0.091163"
        rpy="0 0 0" />
      <mass
        value="0.13948" />
      <inertia
        ixx="9.3425E-05"
        ixy="1.0031E-08"
        ixz="1.9199E-08"
        iyy="0.00011258"
        iyz="-1.319E-06"
        izz="3.6357E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link4.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link4.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.096 -0.025 0.03205"
      rpy="1.5708 0 1.5708" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.051622 -8.1836E-05 0.028852"
        rpy="0 0 0" />
      <mass
        value="0.12611" />
      <inertia
        ixx="4.7081E-05"
        ixy="1.0031E-08"
        ixz="1.4295E-08"
        iyy="3.3337E-05"
        iyz="1.9221E-08"
        izz="3.6169E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link5.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link5.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 -0.029 0.11205"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="1.2434E-14 -0.001012 0.002452"
        rpy="0 0 0" />
      <mass
        value="0.0057641" />
      <inertia
        ixx="7.2709E-07"
        ixy="1.4983E-18"
        ixz="-3.5629E-21"
        iyy="6.0403E-07"
        iyz="2.801E-10"
        izz="1.3076E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link6.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zayv2_description/meshes/link6.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.083 0 0.03325"
      rpy="1.5708 0 1.5708" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>